swagger: "2.0"
info:
  version: "0.0.1"
  title: ProjectName
# during dev, should point to your local machine
host: null
# basePath prefixes all resource paths
basePath: /
#
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths: null
definitions: null
